#root {
  margin: 0 auto;
  padding: 0;
  
}
*{
  margin:0;
  padding:0;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
body{
  
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
  --gray:rgb(218, 213, 213);
}

:root {
    /* Color Definitions */
    --primary: rgb(13, 110, 253);
    --secondary: rgb(108, 117, 125);
    --info: rgb(17, 125, 187);
    --success: rgb(25, 135, 84);
    --warning: rgb(255, 193, 7);
    --danger: rgb(220, 53, 69); /* Adding the 'danger' color class */
    --light: rgb(248, 249, 250); /* Light shade often used for backgrounds */
    --dark: rgb(33, 37, 41); /* Dark shade often used for text */
    --top-gray:rgb(39, 42, 44);
}